/*body{
    background-image: url("https://wallpaperset.com/w/full/8/7/b/482869.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    background-color: pink;
}